<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Piatti</title>

    <link rel="stylesheet" href="../css/admin/piattiAdminStyle.css">

</head>

<body>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" th:each="piatto : ${piatti}">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"
                        style="background-image: url(https://www.prezzisalute.com/img/cibo/alimenti/salumi_m.jpg);">
                    </div>
                    <div class="titoloBuffet">
                        <h4 th:text="${piatto.nome}">Carbonara</h6>
                    </div>
                    <div class="chef">
                        <span>Descrizione:</span>
                        <span th:text="${piatto.descrizione}">Mario</span>
                        
                    </div>
                    <div class="primi">
                        <h6>Ingredienti:</h6>
                        <div class="elencoPiatti">
                            <div th:each="ingrediente : ${piatto.ingredienti}">
                                <span th:text="${ingrediente.nome}+','+' '">uova, pancetta</span>
                            </div>
                        </div>
                    </div>
                    <div class="votazioni">                         			<!-- "admin/" gia lo aggiunge lui -->
                        <div class="bottoni"><a class="btn btn-warning espandi" th:href="@{piatti/modificaPiatto/{id}(id=${piatto.id})}" role="button">Modifica</a></div>
                        <div class="bottoni"><a class="btn btn-danger espandi" th:href="@{piatti/eliminaPiatto/{id}(id=${piatto.id})}" role="button">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
</body>

</html>