body {
    background: #eee;

}

.ratings i {
    color: green;
}

.install span {
    font-size: 12px;
}

.col-md-4 {
    margin-top: 27px;
}

.d-flex {
    display: flex !important;
    justify-content: center;
    height: 300px;
}

.mb-3 {
    margin-bottom: 1rem !important;
    width: 380px;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    height: 450px;
}

img,
svg {
    vertical-align: middle;
    width: 200px;
    height: 70px;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 450px;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.titoloBuffet {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -10px;

}

.chef {
    margin-top: 10px;
}

.primi {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.secondi {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.elencoPiatti {
    display: flex;
    margin-top: -10px;
}

.progress {

    margin-top: 5px;
}

.align-items-center {
    align-items: center !important;
    width: 80%;
}

.votazioni {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.voto-totale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 20px;
}

.heart {
    width: 50px;
    height: 50px;
}

.bg-custom {

    background-color: #b7dd29 !important;
}

.bottoni {
    display: flex;
    justify-content: center;
    margin: 8px;
    width: 50%;
}
 .espandi {
    width: 100%;
 }
