body {
    background: white
  }
  
  .navbar-brand {
    font-family: 'Cookie', cursive;
    font-size: 35px;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lobster', cursive;
    font-size: 23px;
  }
  
  .navbarra {
    margin-top: 8px;
    font-size: 25px;
  }
  
  .immagine-home {
    margin-left: 10px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center center;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 150px;
    right: 10px;
    left: -20px;
  }
  
  .navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.852);
    --bs-navbar-hover-color: rgb(0, 208, 48);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.852);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.852);
    --bs-navbar-brand-hover-color: rgb(0, 208, 48);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
  }
  
  
  
  
  










  /* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.nostriChef {
	
	 font-family: 'Lobster', cursive;
	 font-size: 50px;
	 margin-left: 40%;
	 margin-top: 20px;
	 margin-bottom: -80px;
	 color: green;
	
}

.container {
    margin-top: 50px;
        font-family: 'Lobster', cursive;
    
    
}

.container .row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  margin-top: 50px;
}

.card .card-image {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center center;
}

.card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
}

  .card .card-content {
      position: absolute;
      bottom: -180px;
      color: rgb(0, 0, 0);
      background: rgba(193, 193, 193, 0.2);
      backdrop-filter: blur(15px);
      min-height: 140px;
      width: 100%;
      transition: bottom .4s ease-in;
      box-shadow: 0 -10px 10px rgba(100, 100, 100, 0.1);
      border-top: 1px solid transparent;
  }
  
.card:hover .card-content {
    bottom: 0px;
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
}


.card:hover .card-content .social-icons li {
    transform: translateY(20px);
}

.card .card-content .social-icons li a {
    color: #fff;
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem;
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px;
    }

    .container .row .col-lg-4 {
        margin: 20px 0px;
    }
}





  
  
  
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
  
  .container-fluid2 {
  
      overflow: hidden;
      width: 100%;
      margin-top: 200px;
      background: #262626;
      color: #627482 !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
  }
  
  small {
      font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
  }
  
  .bold-text {
      color: #989c9e !important;
  }
  
  
  .mt-55 {
      margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
  }
  
  
  h3 {
      font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
  }
  
  .social {
      font-size: 21px !important;
  }
  
  .rights {
      font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
  }
  
  footer {
      padding: 0;
      margin-top: -60px;
      margin-bottom: -20px;
  }
  
  .col-md-42 {
    margin-top: 27px;
  }
  
  .mb-32 {
    margin-bottom: 1rem !important;
  }
  
  .row3 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  
  .rimp {
    margin-top: -50px;
  }