<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>

<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&display=swap" rel="stylesheet"> 	

    <link rel="stylesheet" href="css/styleHome.css">
</head>

<body>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand immagine-home" href="/"
        style="background-image: url(https://img.icons8.com/ios-filled/344/home.png);"></a>
      <a class="navbar-brand" >Catering Marini</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/buffet">I Nostri Buffet</a>
          </li>
          <div class="navbarra">|</div>
          <li class="nav-item">
            <a class="nav-link" href="/piatti"> Piatti</a>
          </li>
          <div class="navbarra">|</div>
          <li class="nav-item">
            <a class="nav-link" href="/ingredienti">Ingredienti</a>
          </li>
          <div class="navbarra">|</div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Area Privata
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <li><a class="dropdown-item" href="/admin">Amministrazione</a></li>
			  <li><a class="dropdown-item" href="/chef">I nostri Chef</a></li>
 
              

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="carousel-container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active"
                    style="background-image: url(https://cdnimg.webstaurantstore.com/images/articles/26/cmi-header.jpg);">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="titolo-carousel">Dai Un'Occhiata ai Nostri buffet</h1>
                        <p>Contattaci per personalizzare il tuo buffet</p>
                    </div>
                </div>
                <div class="carousel-item"
                    style="background-image: url(https://saltoftheearthcatering.com.au/wp-content/uploads/2017/12/banner2.jpg);">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="titolo-carousel">I Migliori Chef in Circolazione</h1>
                        <p>Lavorano per noi i migliori chef d'Italia e del moondo!</p>
                    </div>
                </div>
                <div class="carousel-item"
                    style="background-image: url(https://s4kh92k11t12beypk23frkb1-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/slider1.jpg);">
                    <div class="carousel-caption d-none d-md-block">
                    <h1 class="titolo-carousel">La Qualità è Fondamentale</h1>
                        <p>Scegliamo con estrema accuratezza le nostre materie prime</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <hr>
    <div class="presentazione">

    <div class="dettagli">
        <div class="titolo">Ordina subito!</div>
        <div class="scritteSotto">Puoi anche personalizzare il tuo buffet</div>
        <div class="scritteSotto">mandandoci una mail tramite il form!</div>
        <a class="btn btn-warning" href="contatti/email" role="button">contattaci</a>
    </div>
    <div class="foto-ciccio"  style="background-image: url(https://img.freepik.com/free-photo/old-chef-cook-isolated-white-wall_496169-2672.jpg);"></div>
</div>

<hr>


    <div class="container-fluid2 pb-0 mb-0 justify-content-center text-light ">
        <footer>
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12   my-auto mx-auto a"><h3 class="text-muted mb-md-0 mb-5 bold-text">Progetto SIW Catering.</h3></div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6><ul class="list-unstyled"><li><a href="/">HOME</a></li><li><a href="/">About</a></li></ul></div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>INDIRIZZO</b></h6><p class="mb-1">Via I Laziali Da Roma, 130</p><p>ROMA, ITALIA</p> </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end"><p class="social text-muted mb-0 pb-0 bold-text"> <span  class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Gianluca Marini All Rights Reserved.</small></div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end "><h6 class="mt-55 mt-2 text-muted bold-text"><b>EMAIL</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> catering_marini@gmail.com</small></div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3   "><h6 class="text-muted bold-text"><b>AMMINISTRAZIONE</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> amministrazione_catering@gmail.com</small></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


</body>

</html>